Host localhost
  User git
  IdentityFile {{ redmine_home }}/.ssh/redmine_gitolite_admin_id_rsa
  IdentitiesOnly yes

Host {{ redmine_ssh_domain }}
  User git
  IdentityFile {{ redmine_home }}/.ssh/redmine_gitolite_admin_id_rsa
  IdentitiesOnly yes

