
# whether or not to start processor
ice.processor=true

# whether or not to start reader/UI
ice.reader=true

# whether or not to start reservation capacity poller
ice.reservationCapacityPoller=false

# reservation period, possible values are oneyear, threeyear
ice.reservationPeriod=threeyear
# reservation utilization, possible values are LIGHT, MEDIUM, HEAVY
ice.reservationUtilization=HEAVY

# url prefix, e.g. http://ice.netflix.com/. Will be used in alert emails.
ice.urlPrefix=

# from email address
ice.fromEmail=

# ec2 ondemand hourly cost threshold to send alert email. The alert email will be sent at most once per day.
ice.ondemandCostAlertThreshold=250

# ec2 ondemand hourly cost alert emails, separated by ","
ice.ondemandCostAlertEmails=

# modify the following 5 properties according to your billing files configuration. if you have multiple payer accounts, you will need to specify multiple values for each property.
# s3 bucket name where the billing files are. multiple bucket names are delimited by ",". Ice must have read access to billing s3 bucket.
ice.billing_s3bucketname={{ ice_billing_s3_bucket_names }}
# prefix of the billing files. multiple prefixes are delimited by ","
#ice.billing_s3bucketprefix={{ ice_billing_s3_bucket_prefix }}
# specify your payer account id here if across-accounts IAM role access is used. multiple account ids are delimited by ",". "ice.billing_payerAccountId=,222222222222" means assumed role access is only used for the second bucket.
#ice.billing_payerAccountId=,123456789012
# specify the assumed role name here if you use IAM role access to read from billing s3 bucket. multiple role names are delimited by ",". "ice.billing_accessRoleName=,ice" means assumed role access is only used for the second bucket.
#ice.billing_accessRoleName=,ice
# specify external id here if it is used. multiple external ids are delimited by ",". if you don't use external id, you can leave this property unset.
#ice.billing_accessExternalId=

# specify your custom tags here. Multiple tags are delimited by ",". If specified, BasicResourceService will be used to generate resource groups for you.
# PLEASE MAKE SURE you have limited number (e.g. < 100) of unique value combinations from your custom tags, otherwise Ice performance will be greatly affected.
#ice.customTags=tag1,tag2

# start date in millis from when you want to start processing the billing files
ice.startmillis=1390000000000

# you company name. it will be used by UI
ice.companyName={{ ice_company_name }}

# s3 bucket name where Ice can store output files. Ice must have read and write access to billing s3 bucket.
ice.work_s3bucketname={{ ice_work_s3_bucket_name }}
# prefix of Ice output files
ice.work_s3bucketprefix=ice/

# local directory for Ice processor. the directory must exist.
ice.processor.localDir=/mnt/ice_processor

# local directory for Ice reader. the directory must exist.
ice.reader.localDir=/mnt/ice_reader

# monthly data cache size for Ice reader.
ice.monthlycachesize=12

# Render accounts info as properties
{% for acct in ice_accounts %}
ice.account.{{ acct }}={{ ice_accounts[acct].account_no }}
{% if ice_accounts[acct].owner_accounts is defined %}
ice.owneraccount.{{ acct }}={{ ice_accounts[acct].owner_accounts|join(',') }}
{% endif %}
{% if ice_accounts[acct].owner_role is defined %}
ice.owneraccount.{{ acct }}.role={{ ice_accounts[acct].owner_role }}
{% endif %}
{% if ice_accounts[acct].owner_ext_id is defined %}
ice.owneraccount.{{ acct }}.externalId={{ ice_accounts[acct].owner_ext_id }}
{% endif %}
{% endfor %}

