---
# FIXME: maybe parameterize the region/zone one day
- name: Creating new EBS volume from snapshot
  command: 'aws ec2 create-volume --region {{ ansible_ec2_placement_region }} --volume-type {{ buri_volume_type|default("gp2") }} --availability-zone {{ ansible_ec2_placement_availability_zone  }} --size {{ buri_ami_root_size|default(10) }} --snapshot-id {{ ebs_parent_id }} --output text --query VolumeId'
  register: amivol
  when: ebs_parent_id is defined and ebs_parent_id != ''

- include: _create_common.yml
