---
# FIXME: maybe parameterize the region/zone one day
- name: Creating new EBS volume (empty)
  command: 'aws ec2 create-volume --region {{ ansible_ec2_placement_region }} --availability-zone {{ ansible_ec2_placement_availability_zone  }} --size {{ buri_ami_root_size|default(10) }} --volume-type {{ buri_volume_type|default("standard") }} --output text'
  register: amivol
  when: ebs_parent_id is not defined or ebs_parent_id == ''

- name: Saving Empty Volume ID as a fact for later use
  set_fact:
    ebs_volume_id: '{{ item.split("\t")[6] }}'
  with_items: amivol.stdout
  when: ebs_parent_id is not defined or ebs_parent_id == ''

- name: Creating new EBS volume from snapshot
  command: 'aws ec2 create-volume --region {{ ansible_ec2_placement_region }} --volume-type {{ buri_volume_type|default("standard") }} --availability-zone {{ ansible_ec2_placement_availability_zone  }} --size {{ buri_ami_root_size|default(10) }} --snapshot-id {{ ebs_parent_id }} --output text'
  register: amivol
  when: ebs_parent_id is defined and ebs_parent_id != ''

- name: Saving Snapshot New Volume ID as a fact for later use
  set_fact:
    ebs_volume_id: '{{ item.split("\t")[6] }}'
  with_items: amivol.stdout
  when: ebs_parent_id is defined and ebs_parent_id != ''

- name: Waiting for volume availability
  command: 'aws ec2 describe-volumes --region {{ ansible_ec2_placement_region }} --volume-ids {{ ebs_volume_id }} --output text'
  register: result
  until: result.stdout.find("available") != -1
  retries: 30
  delay: 3

- name: Attaching EBS work volume
  command: "aws ec2 attach-volume --region {{ ansible_ec2_placement_region }} --device {{ buri_disk_device.replace('/dev/xvd', '/dev/sd') }} --instance-id '{{ ansible_ec2_instance_id }}' --volume-id '{{ ebs_volume_id }}'"

- name: Waiting for EBS work volume attachment to complete
  wait_for:
    delay: 5
    path: '{{ buri_disk_device }}'

