===============
BUILD COMPLETED
===============

AMI build name:    {{ buri_ami_full_name }}
AMI Description:   {{ buri_ami_description }}
Region (Zone):     {{ ansible_ec2_placement_region }} ({{ ansible_ec2_placement_availability_zone }})
AMI disk format:   {{ buri_disk_type }}
{% if buri_ami_ancestor_id is defined and buri_ami_ancestor_id != "" %}
AMI Parent Image:  {{ buri_ami_ancestor_id }}
EBS Parent:        {{ ebs_parent_id }}
{% endif %}
AMI AKI ID:        {{ ami_aki_id }}
{% if ebs_volume_id is defined and ebs_volume_id != "" %}
EBS volume ID:     {{ ebs_volume_id }} (deleted)
{% endif %}
{% if ebs_snapshot_id is defined and ebs_snapshot_id != "" %}
EBS snapshot ID:   {{ ebs_snapshot_id }}
{% endif %}
{% if ami_id_pvm is defined and ami_id_pvm != "" %}
AMI ID - PVM/EBS:  {{ ami_id_pvm }}
{% endif %}
{% if ami_id_hvm is defined and ami_id_hvm != "" %}
AMI ID - HVM/EBS:  {{ ami_id_hvm }}
{% endif %}
{% if ami_id_pvm_instance is defined and ami_id_pvm_instance != "" %}
AMI ID - PVM/S3:   {{ ami_id_pvm_instance }}
{% endif %}
{% if ami_id_hvm_instance is defined and ami_id_hvm_instance != "" %}
AMI ID - HVM/S3:   {{ ami_id_hvm_instance }}
{% endif %}

