---
# Playbook to create a foundation snapshot/AMI from ubuntu's source images
- name: Ubuntu Foundation Create
  hosts: localhost
  connection: local
  sudo: True
  vars_files:
    - vars/distro/{{ ansible_distribution }}.yml
  vars: 
    ami_root_resize: true
    image_build: true
  tasks:
    - name: Dump all vars
      template: src=templates/debug.j2 dest=/tmp/ansible.all
    - include: tasks/buri/set_build_info.yml
    - include: tasks/ec2/instance/facts.yml
    - include: tasks/ec2/iam/lookup.yml
    - include: tasks/image/Ubuntu/find_aki.yml
    - include: tasks/ec2/vol/create_and_attach.yml
    - include: tasks/image/Ubuntu/create_from_tarball.yml
      when: buri_disk_type == "flat"
    - include: tasks/image/Ubuntu/write_qcow_from_url.yml
      when: buri_disk_type != "flat"
    #- name: Dump all vars
    #  template: src=templates/debug.j2 dest=/tmp/ansible.all2
    - include: tasks/image/Ubuntu/grow_filesystem.yml 
      when: ami_root_resize and buri_disk_type != "flat"
    - include: tasks/chroot/mount.yml
    - name: Register chroot target in ansible inventory
      add_host: hostname={{ ami_image_mount }} groups=foundation,chroots

- include: _image_apply_role.yml
- include: _image_finalize.yml
